/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #444;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

h5 {
  padding: 0;
  color: #444;
}

.card {
  margin: 10px;
}

.card-panel {
  padding:0 !important;
}

.card .card-content {
  padding: 10px 24px;
}

.card .card-action {
  padding: 10px 24px;
}

.row .col {
  padding: 10px;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: orange !important;
}

.search-button {
  width:120px;
  margin-right: 10px;
}



.alert-message p{
  color:rgba(0,0,0,0.87);
  background-color:#95dd93;
  margin:0;
  padding: 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
}

input:focus {
  border-bottom: 1px solid orange !important;
  box-shadow: 0 1px 0 0 orange !important;
}

.active {
  color: orange !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid orange !important;
  box-shadow: 0 1px 0 0 orange !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border: 2px solid orange !important;
}



[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: orange !important;
}


@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.page-footer {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px
}

@media only screen and (min-width: 601px) {
  .container {
    width: 90%; 
  }
  #banner-text {
    width: 70%
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
  
#update {
  margin:10px;
}