<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css' ) }}" />

    <title>Find a Date</title>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper orange lighten-1">
                <a href="{{ url_for('index') }}" class="brand-logo center"><i class="material-icons">favorite_border</i>Find a Date</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('search_profile') }}">Search Profile</a></li>
                    <li><a href="{{ url_for('add_profile') }}">Add Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Navbar for mobile view -->
    <ul class="sidenav orange lighten-1" id="mobile-demo">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('search_profile') }}">Search Profile</a></li>
        <li><a href="{{ url_for('add_profile') }}">Add Profile</a></li>
    </ul>
    
    <main>
    {% block content %} {% endblock %}
    </main>
    <!--Footer-->
    <footer class="page-footer orange">
            <div class="container">
            © 2019 - Website designed and built by June Wong
            </div>
        </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.sidenav').sidenav();
            $('.parallax').parallax();
            $('select').formSelect();
            $('.dropdown-trigger').dropdown();
            $("select[required]").css({ display: "block", height: 0, padding: 0, width: 0, position: 'absolute' });
        });
    </script>
</body>

</html>
